/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active {outline: none;}
/* Exclude FlexSlider navigation controls from focus styles - must come first */
.flex-direction-nav a:focus-visible,
.flex-direction-nav a:focus,
.flex-pauseplay a:focus-visible,
.flex-pauseplay a:focus,
.flexslider a:focus-visible,
.flexslider a:focus {
  outline: none !important;
  box-shadow: none !important;
}

.flex-container a:focus-visible {
  outline: 2px solid var(--color-highlight-400) !important;
  outline-offset: 2px !important;
  border-radius: 2px !important;
}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li { display: none; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { width: 100%; display: block; }
.flex-pauseplay span { text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0; background: transparent; position: relative; }

.flex-viewport { opacity: 1; transition: opacity 0.5s ease-in; border-radius: 12px; }
.loading .flex-viewport { opacity: 0; }
.loading:after  { 
  content: 'Loading images...'; 
  position: absolute;
  top: 0;
  left: 0;
  text-align: center; 
  color: var(--color-neutral-400); 
  font-size: 12px;
  pointer-events: none;
  z-index: 1;
}
body[dark-mode] {
  .loading:after  { 
    color: var(--color-neutral-800) !important; 
  }
}
.flexslider .slides { zoom: 1; }

/* Direction Nav */
.flex-direction-nav { height: 0; }
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 24px;
  height: 24px;
  margin: 0;
  position: absolute;
  top: 51%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  transition: all .3s ease;
  filter: drop-shadow(0 0 8px rgb(8, 8, 8));
}

.flex-direction-nav .flex-prev {
  left: 24px;
  background-image: url(@/images/icon-arrow-prev.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0px;
  padding: 24px;
  /* border-radius: 24px;
  background-color: var(--color-neutral-500-alpha); */
}

.flex-direction-nav .flex-next {
  right: 24px;
  background-image: url(@/images/icon-arrow-next.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0px;
  padding: 24px;
  /* border-radius: 24px;
  background-color: var(--color-neutral-500-alpha); */
}

/* Dark Mode */
.flex-dark .flex-direction-nav .flex-prev {
  left: 24px;
  height: 24px;
  width: 14px;
  background-image: url(@/images/icon-arrow-prev-dark.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0px;
  padding: 24px;
}

.flex-dark .flex-direction-nav .flex-next {
  right: 24px;
  height: 24px;
  width: 14px;
  background-image: url(@/images/icon-arrow-next-dark.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0px;
  padding: 24px;
  filter: drop-shadow(2px 4px 8px rgb(160, 0, 210));
}

.flexslider:hover .flex-prev { opacity: 0.88; left: 12px; }
.flexslider:hover .flex-next { opacity: 0.88; right: 12px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
/*.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: '\f001'; }*/
/*.flex-direction-nav a.flex-next:before  { content: '\f002'; }*/

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav { width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li { margin: 0 6px; display: inline-block; zoom: 1; display: inline;}
.flex-control-paging li a { width: 11px; height: 11px; display: block; background: var(--color-neutral-600); background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: var(--color-neutral-800); background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: var(--color-neutral-darkest); background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs { margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li { width: 25%; float: left; margin: 0;}
.flex-control-thumbs img { width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover { opacity: 1;}
.flex-control-thumbs .flex-active { opacity: 1; cursor: default;}
.flex-control-nav, .flex-control-paging { /* Gets rid of the bottom dots */
	display: none;
}

@media screen and (max-width: 960px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 8px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 8px;}
}
