@font-face {
    font-family: 'SFM';
    src: url('../fonts/SFM-Regular.woff2') format('woff2'),
         url('../fonts/SFM-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap; /* Prevent invisible text during font load */
}

@font-face {
    font-family: 'SFM';
    src: url('../fonts/SFM-Heavy.woff2') format('woff2'),
         url('../fonts/SFM-Heavy.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap; /* Prevent invisible text during font load */
}