/* ----------- Whitney ----------- */

@font-face {
    font-family: 'WhitneyHTF-Light';
    src: url('http://bradleysiefert.com/2.1/themes/bradleysiefert/assets/fonts/WhitneyHTFLight.woff') format('woff'),
         url('http://bradleysiefert.com/2.1/themes/bradleysiefert/assets/fonts/WhitneyHTFLight.otf') format('otf'),
         url('http://bradleysiefert.com/2.1/themes/bradleysiefert/assets/fonts/WhitneyHTFLight.svg#Verlag-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WhitneyHTF-Book';
    src: url('http://bradleysiefert.com/2.1/themes/bradleysiefert/assets/fonts/WhitneyHTFBook.woff') format('woff'),
         url('http://bradleysiefert.com/2.1/themes/bradleysiefert/assets/fonts/WhitneyHTFBook.otf') format('otf'),
         url('http://bradleysiefert.com/2.1/themes/bradleysiefert/assets/fonts/WhitneyHTFBook.svg#Verlag-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WhitneyHTF-Medium';
    src: url('http://bradleysiefert.com/2.1/themes/bradleysiefert/assets/fonts/WhitneyHTFMedium.woff') format('woff'),
         url('http://bradleysiefert.com/2.1/themes/bradleysiefert/assets/fonts/WhitneyHTFMedium.otf') format('otf'),
         url('http://bradleysiefert.com/2.1/themes/bradleysiefert/assets/fonts/WhitneyHTFMedium.svg#WhitneyHTF-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}