==
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>

<!-- FlexSlider -->
<script defer src="{{ 'assets/js/jquery.flexslider.min.js'|theme }}"></script>
<script type="text/javascript">
	$(window).load(function(){
	  $('.flexslider').flexslider({
	    animation: "slide",
	  });
	});
</script>

<script type="text/javascript">var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); </script>
<script type="text/javascript">try{ var pageTracker = _gat._getTracker("UA-15898721-2"); pageTracker._trackPageview(); } catch(err) {}</script>
</body>
</html>