==
<li><a target="_new" href="http://www.instagram.com/bradsiefert/"><img src="{{ 'assets/images/icon-instagram.svg'|theme }}" alt="Bradley Siefert Instagram"/></a></li>
<li><a target="_new" href="http://www.flickr.com/photos/dim7chord/"><img src="{{ 'assets/images/icon-flickr.svg'|theme }}" alt="Bradley Siefert Flickr"/></a></li>
<li><a target="_new" href="https://500px.com/bradleysiefert"><img src="{{ 'assets/images/social-500px-48.svg'|theme }}" alt="Bradley Siefert 500px"/></a></li>	
<li><a target="_new" href="http://www.twitter.com/bradleysiefert/"><img src="{{ 'assets/images/icon-twitter.svg'|theme }}" alt="Bradley Siefert Twitter"/></a></li>